<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Facture Masher</title>

  <link href="../font/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css">

  <script src="../helpers/context_menu.js"></script>
  <script src="../helpers/external_links.js"></script>

  <script src="../controllers/index_ctrl.js"></script>
</head>
<body>
    <h1>Facture Masher</h1>
  <ul>
    <li><a href="facture.html">Création nouvelles factures</a></li>
    <li><a href="settings.html">Paramètre Applications</a></li>
  </ul>

</body>
</html>
